html {
    box-sizing: border-box;
}

body{
    font-family: Calibri;
    background-image: url(../images/15.png);
    font-weight: lighter;
}
section{
    background: rgba(255,255,255,.3);
    margin: auto;
	margin-top: 10%;
	margin-bottom: 10%;
	padding: 20px;
	width: 50%;
	height: auto;
    border-radius: 10px;
}
h1{
    font-size: 35px;
}