html {
    box-sizing: border-box;
    font-family: Calibri;
}
table{
    text-align: left;
    width: 30%;
    border-collapse: collapse;
    border-style: none;
}
tr{
    background-color: #C8F7C5;
    border-bottom: 1px solid #2ECC71;
}
th{
    background-color: #2ECC71;
    color: white;
	padding-left: 5px;
}

td{
	padding-left: 5px;
}