html {
	box-sizing: border-box;
}
body{
	font-family: Calibri;
	font-size: 5rem;
	text-align: center;
	background-color: #296F3C;
}
h1{
	color: yellow;
	position: relative;
}
span{
	font-size: 1.2em;
	position: absolute;
	color: orange;
	transform: rotate(-90deg);
	margin-left: -130px;
	margin-top: -5px;
}