html {
	box-sizing: border-box;
}

body {
	margin: 0;
}

div {
	background: url(/images/wallpaper.jpg) no-repeat center center fixed;
	background-size: cover;
	width: 100%;
	height: 100vh;
	position: relative;
}

img {
	position: absolute;
	margin-top: 40vh;
	margin-left: 25%;
	transform: rotate(15deg);
	transition-duration: 2s;
}

img:hover {
	transform: rotate(-15deg);
	transition-duration: 2s;
}